scikit-learn==1.4.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.8.1
seaborn==0.12.3
joblib==1.4.2
xgboost==1.7.6
lightgbm==4.0.0
catboost==1.2
mlflow==2.6.2
boto3==1.28.39
kedro==1.10.0
kedro-mlflow==0.7.0
pytest==7.4.0
kedro-viz==4.6.0
kedro-datasets==0.7.0
kedro-datasets[pandas]==0.7.0
kedro-datasets[sqlalchemy]==0.7.0
sqlalchemy==2.0.20
psycopg2-binary==2.9.7
python-dotenv==1.0.0
requests==2.31.0