boto3==1.28.39
catboost==1.2
joblib==1.4.2
kedro==1.10.0
kedro-datasets==0.7.0
kedro-datasets[pandas]==0.7.0
kedro-datasets[sqlalchemy]==0.7.0
kedro-mlflow==0.7.0
kedro-viz==4.6.0
lightgbm==4.0.0
matplotlib==3.8.1
mlflow==2.6.2
numpy==1.26.4
pandas==2.2.3
psycopg2-binary==2.9.7
pytest==7.4.0
python-dotenv==1.0.0
requests==2.31.0
scikit-learn==1.4.2
sqlalchemy==2.0.20
xgboost==1.7.6
